<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/Projeto/src/styles.css">
</head>
<body>


<body>
    
  <div class="conteudo">

      <div class="conteudo_titulo">

          <h1>Atendimento On-line</h1>

      </div>

      <div class="conteudo_chat">

          <div class="conteudo_chat_usuario"><p>Atendente</p></div>
          <div class="conteudo_chat_mensagem">BLA BLA BLA</div>
          <div class="conteudo_chat_usuario"><p>Atendente</p></div>
          <div class="conteudo_chat_mensagem">BLA BLA BLA</div>
          <div class="conteudo_chat_usuario_voce"><p>Você</p></div>
          <div class="conteudo_chat_mensagem_voce">BLA BLA BLA</div>
          <div class="conteudo_chat_usuario_voce"><p>Você</p></div>
          <div class="conteudo_chat_mensagem_voce">BLA BLA BLA</div>


      </div>

      <div class="conteudo_enviarmen">

          <form >
          <div class="conteudo_enviarmen_digite">

              <input value = "" id="mensagem" required type="text" name= "mensagem" placeholder="Digite uma mensagem">
              
          </div>


          <div class="conteudo_enviarmen_enviar">

              <button type="submit" id="enviar">Enviar</button>

          </div>
          </form>

      </div>


  </div>



  
</body>
