<div class="conteudo"> 
  <div class="conteudo_titulo">
    <h1>Atendimento On-line</h1>
  </div>

  <div class="conteudo_chat">
    <ng-container *ngFor="let msg of mensagens">
      <div
        [ngClass]="{
          'conteudo_chat_usuario': msg.autor === 'atendente',
          'conteudo_chat_usuario_voce': msg.autor === 'voce'
        }"
      >
        <p>{{ msg.autor === 'voce' ? 'Você' : 'Atendente' }}</p>
      </div>
      <div
        [ngClass]="{
          'conteudo_chat_mensagem': msg.autor === 'atendente',
          'conteudo_chat_mensagem_voce': msg.autor === 'voce'
        }"
      >
        {{ msg.texto }}
      </div>
    </ng-container>
  </div>

  <div class="conteudo_enviarmen">
    <form (ngSubmit)="enviarMensagem()">
      <div class="conteudo_enviarmen_digite">
        <input
          [(ngModel)]="novaMensagem"
          name="mensagem"
          required
          type="text"
          placeholder="Digite uma mensagem"
        />
      </div>

      <div class="conteudo_enviarmen_enviar">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
